          <div class="pb-3 text-right">
            &copy; digitalronin 2019 - ${(new Date()).getFullYear()} &nbsp; &nbsp;

            <a href="https://github.com/digitalronin/framework-forms">
              <img height="20" width="20" src="https://proxy.duckduckgo.com/ip3/github.com.ico" alt="github logo" />
            </a>

            <a href="https://twitter.com/digitalronin">
              <img height="24" width="24" src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fxenatt%2Fthe-circle%2F256%2FApp-Twitter-icon.png&f=1" alt="twitter logo" />
            </a>

            <a href="https://blog.digitalronin.com">
              <img height="24" width="24" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi0.wp.com%2Fwordpressfoundation.org%2Fcontent%2Fuploads%2F2015%2F03%2Fsite_icon1-54f3ce9bv1_site_icon.png%3Ffit%3D512%252C512%26ssl%3D1&f=1" alt="wordpress logo" />
            </a>
          </div>
